<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />

        <title>吾爱吾庐</title>

        <link rel="styleSheets" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" />
            <!--[if lte IE 8]>
            <link rel="styleSheets" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css" />
            <![endif]-->
            <!--[if gt IE 8]><!-->
            <link rel="styleSheets" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css" />
            <!--<![endif]-->
    </head>
    </head>
</html>
