
                <div class="footer">

                    <div class="legal pure-g">
                        <div class="pure-u-1">

                            <span>
                                <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" rel="license"><img alt="知识共享许可协议" style="border-width:0"i src="/images/88x31.png" /></a>
                            </span>

                        </div>

                    </div>

                    <div class="legal pure-g">
                        <div class="pure-u-1">

                            <span>
                                本作品采用    <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" rel="license">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>    进行许可。
                            </span>

                        </div>
                    </div>

                    <div class="legal pure-g">
                        <div class="pure-u-1">
                            <span>
                            Template Powered by <a href="http://purecss.io" rel="nofollow">Purecss</a>|Site Build by <a href="http://brocadesoar.cn" rel="nofollow">ZhuBrocadeSoar</a>
                            </span>
                        </div>

                    </div>

                    <div class="legal pure-g">
                        <div class="pure-u-1">
                            <span>
                            浙ICP备17027825号-1
                            <a target=" blank " href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33078302100258" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                                <img src="/images/beianlogo.png" style="float:left;" />浙公网安备 33078302100258号
                            </a>
                            </span>
                        </div>
                    </div>

                </div>



            </div>
            <script src="https://purecss.io/combo/1.18.13?/js/ui.js&/js/rainbow/rainbow.min.js&/js/rainbow/language/generic.js&/js/rainbow/language/html.js&/js/rainbow/language/css.js&/js/rainbow/language/javascript.js&/js/rainbow/language/shell.js"></script>



        </div>

    </body>

</html>
